{% extends 'base.html' %}
{% block scripts %}
{{ super() }}
<script>
  $(document).ready(function() {
    trColor();
  });
</script>
{% endblock %}
{% block content %}
<div class="container">
  <h3>RRA information</h3>
  <table id="sr" class="suTable" cellspacing="0" width="100%">
    <tr><td class="suHeader">Details</td>
      <td class="suTableCell">
        <table class="innerTable">
          <tr><td class="suHeader">Name</td><td>{{ results.name }}</td></tr>
          <tr><td class="suHeader">ID</td><td>{{ results.id }}</td></tr>
          <tr><td class="suHeader">Data classification</td>
            <td><span name="rlabel">{{ results.default_data_classification }}</span></td></tr>
        </table>
      </td>
    </tr>
  </table>
</div>
<div class="container">
  <h3>Risk details</h3>
  <table id="risk" class="suTable" cellspacing="0" width="100%">
    <tr>
      <td class="suHeader">Attribute</td>
      <td class="suHeader">Impact type</td>
      <td class="suHeader">Impact</td>
      <td class="suHeader">Probability</td>
    </tr>
    <tr>
      <td rowspan=3>Confidentiality</td>
      <td>Reputation</td>
      <td><span name="rlabel">{{ results.confidentiality_reputation_impact }}</span></td>
      <td><span name="rlabel">{{ results.confidentiality_reputation_probability }}</span></td>
    </tr>
    <tr>
      <td>Productivity</td>
      <td><span name="rlabel">{{ results.confidentiality_productivity_impact }}</span></td>
      <td><span name="rlabel">{{ results.confidentiality_productivity_probability }}</span></td>
    </tr>
    <tr>
      <td>Finances</td>
      <td><span name="rlabel">{{ results.confidentiality_financial_impact }}</span></td>
      <td><span name="rlabel">{{ results.confidentiality_financial_probability }}</span></td>
    </tr>
    <tr>
      <td rowspan=3>Availability</td>
      <td>Reputation</td>
      <td><span name="rlabel">{{ results.availability_reputation_impact }}</span></td>
      <td><span name="rlabel">{{ results.availability_reputation_probability }}</span></td>
    </tr>
    <tr>
      <td>Productivity</td>
      <td><span name="rlabel">{{ results.availability_productivity_impact }}</span></td>
      <td><span name="rlabel">{{ results.availability_productivity_probability }}</span></td>
    </tr>
    <tr>
      <td>Finances</td>
      <td><span name="rlabel">{{ results.availability_financial_impact }}</span></td>
      <td><span name="rlabel">{{ results.availability_financial_probability }}</span></td>
    </tr>
    <tr>
      <td rowspan=3>Integrity</td>
      <td>Reputation</td>
      <td><span name="rlabel">{{ results.integrity_reputation_impact }}</span></td>
      <td><span name="rlabel">{{ results.integrity_reputation_probability }}</span></td>
    </tr>
    <tr>
      <td>Productivity</td>
      <td><span name="rlabel">{{ results.integrity_productivity_impact }}</span></td>
      <td><span name="rlabel">{{ results.integrity_productivity_probability }}</span></td>
    </tr>
    <tr>
      <td>Finances</td>
      <td><span name="rlabel">{{ results.integrity_financial_impact }}</span></td>
      <td><span name="rlabel">{{ results.integrity_financial_probability }}</span></td>
    </tr>
  </table>
</div>
<div class="container">
  <h3>Associated system groups</h3>
  <p>A list of system groups that directly support the service this RRA covers.</p>
  <table class="suTable" cellspacing="0" width="100%">
    <tr><td class="suHeader">ID</td>
      <td class="suHeader">Name</td>
      {% if results.supporting_system_groups|length > 0 %}
      {% for r in results.supporting_system_groups %}
      <tr>
        <td><a href="{{ url_for('getsysgroup', sysgroupid=r.id) }}">{{ r.id }}</a></td>
        <td>{{ r.name }}</td>
      </tr>
      {% endfor %}
      {% else %}
      <tr>
        <td>NA</td>
        <td>No information available</td>
      </tr>
      {% endif %}
    </tr>
  </table>
</div>
{% endblock %}
