{% extends 'base.html' %}
{% block scripts %}
{{ super() }}
<script>
  $.fn.dataTable.ext.type.detect.unshift(
    function (d) {
      var b = $("<div>" + d + "</div>").text()
      if (b === "confidential secret" || 
      b === "confidential restricted" ||
      b === "confidential internal" ||
      b === "public" ||
      b === "unknown") {
        return "dc";
      }
      return null;
    }
  );
  $.fn.dataTable.ext.type.order['dc-pre'] = function(d) {
    var lbl = $(d).html();
    switch (lbl) {
      case "confidential secret": return 4;
      case "confidential restricted": return 3;
      case "confidential internal": return 2;
      case "public": return 1;
    }
    return 0;
  }
  $(document).ready(function() {
    $('#sr').DataTable( {
      "createdRow": function (row, data, index) {
        trColor();
    }});
    trColor();
  });
</script>
{% endblock %}
{% block content %}
<div class="container">
  <table id="sr" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Data Classification</td>
      </tr>
    </thead>
    <tbody>
    {% for r in results.results %}
    <tr>
      <td><a href="{{ url_for('getrra', rraid=r.id) }}">{{ r.id }}</a></td>
      <td>{{ r.name }}</td><td><span name="rlabel">{{ r.default_data_classification }}</span></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
