{% extends 'base.html' %}
{% block scripts %}
{{ super() }}
<script>
  $(document).ready(function() {
    $('#sr').DataTable();
  });
</script>
{% endblock %}
{% block content %}
<div class="container">
  <form class="form-horizontal" method="post" action="{{ url_for('searchmatch') }}">
    <div class="form-group">
      {{ form.hidden_tag() }}
      <div class="col-md-2">
        {{ form.hostname.label(class_="control-label") }}
      </div>
      <div class="col-md-3">
        {{ form.hostname(class_="form-control", placeholder="host.domain.com") }}
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2">
        <button type="submit" class="btn btn-default">Search</button>
      </div>
    </div>
  </form>
</div>
{% if results is not none %}
<div class="container">
  <table id="sr" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
        <td>ID</td>
        <td>Hostname</td>
        <td>System group</td>
      </tr>
      <tbody>
        {% for r in results.hosts %}
        <tr>
          <td>{{ r.id }}</td>
          <td>{{ r.hostname }}</td>
          <td><a href="{{ url_for('getsysgroup', sysgroupid=r.sysgroupid) }}">{{ r.sysgroupname }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
</div>
{% endif %}
{% endblock %}
