{% extends 'base.html' %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/jquery.ui.treemap.js') }}"></script>
<script>
  var riskdata = [
  {% for r in results.risks %}
    {{ r|tojson|safe }},
  {% endfor %}
  ];

  // Process riskdata and return object suitable for treemap
  function maketreedata() {
    var treedata = {id: "root", children: []};

    var totalimpact = 0.0;
    for (i = 0; i < riskdata.length; i++) {
      // If noted risk is unknown, just ignore the entry
      if (riskdata[i].risk.worst_case == 0) {
        continue;
      }
      totalimpact += riskdata[i].risk.highest_business_impact;
    }

    for (i = 0; i < riskdata.length; i++) {
      // If noted risk is unknown, just ignore the entry
      if (riskdata[i].risk.worst_case == 0) {
        continue;
      }
      var nv = {
        id: riskdata[i].rra.name,
        size: [riskdata[i].risk.highest_business_impact / totalimpact],
        color: [riskdata[i].risk.median / 16]
      }
      treedata["children"].push(nv);
    }
    return treedata;
  }

  $.fn.dataTable.ext.type.detect.unshift(function (d) {
    var b = $(d).text();
    if (b == 'confidential secret' || b == 'confidential restricted' ||
      b == 'confidential internal' || b == 'public' || b == 'unknown') {
      return "dc";
    } else if (b == 'maximum' || b == 'high' || b == 'medium' || b == 'low'
      || b == 'unknown') {
      return "impact";
    }
  });

  $.fn.dataTable.ext.type.order['impact-pre'] = function (d) {
    var lbl = $(d).text();
    switch (lbl) {
      case "maximum": return 4;
      case "high": return 3;
      case "medium": return 2;
      case "low": return 1;
    }
    return 0;
  }

  $.fn.dataTable.ext.type.order['dc-pre'] = function (d) {
    var lbl = $(d).text();
    switch (lbl) {
      case "confidential secret": return 4;
      case "confidential restricted": return 3;
      case "confidential internal": return 2;
      case "public": return 1;
    }
    return 0;
  }

  $(document).ready(function() {
    rt = $('#riskstable > tbody');
    for (i = 0; i < riskdata.length; i++) {
      var tr = '<tr>' +
        '<td>' + riskdata[i].rra.name + '</td>' +
        '<td><span name="rlabel">' + riskdata[i].rra.default_data_classification + '</span></td>' +
        '<td><span name="rlabel">' + riskdata[i].risk.highest_business_impact_label + '</span></td>' +
        '<td><span name="rlabel">' + riskdata[i].risk.median_label + '</span></td>' +
        '<td><span name="rlabel">' + riskdata[i].risk.worst_case_label + '</span></td>' +
        '</tr>';
      rt.append(tr);
    }

    $('#riskstable').DataTable({
      "createdRow": function(row, data, index) {
        trColor();
      },
      "pageLength": 50
    });

    $("#riskmap").treemap({
      "nodeData": maketreedata(),
      "dimensions": [$("#riskmap").width(), 600],
      "sizeOption": 0,
      "colorOption": 0,
      "labelsEnabled": true,
      "colorStops": [
        {"val":0, "color":"#eee"},
        {"val":1, "color":"#f00"},
      ]
    });
  });
</script>
{% endblock %}
{% block content %}
<div class="container">
  <h3>Service risk view</h3>
  <p>
  Size reflects service business impact assessed from RRA. Cell color reflects
  analyzed real-time service risk.
  </p>
</div>
<div class="container" id="riskmap"></div>
<div class="container">
  <!-- Placeholder for tree map controls -->
</div>
<div class="container">
  <table id="riskstable" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
      <td>Service</td>
      <td>Data class</td>
      <td>Potential business impact</td>
      <td>Median risk</td>
      <td>Worst case</td>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
{% endblock %}
