{% extends 'base.html' %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/jquery.ui.treemap.js') }}"></script>
<script>
  var treedata = {"id": "root", "children": []};
  var rdata = [
  {% for r in results.risks %}
    {{ r|tojson|safe }},
  {% endfor %}
  ];
  function maketreedata() {
    var totalimpact = 0.0;
    for (i = 0; i < rdata.length; i++) {
      // If noted risk is unknown, just ignore the entry
      if (rdata[i].risk.worst_case == 0) {
        continue;
      }
      totalimpact += rdata[i].risk.highest_business_impact;
    }
    for (i = 0; i < rdata.length; i++) {
      // If noted risk is unknown, just ignore the entry
      if (rdata[i].risk.worst_case == 0) {
        continue;
      }
      var nv = {};
      nv["id"] = rdata[i].rra.name;
      nv["size"] = [rdata[i].risk.highest_business_impact / totalimpact];
      nv["color"] = [rdata[i].risk.median / 16];
      treedata["children"].push(nv);
    }
  }
  $(document).ready(function() {
    maketreedata();
    $('#servtab').DataTable( {
      "createdRow": function (row, data, index) {
        trColor();
      },
      "pageLength": 50
    });
    trColor();
    $("#riskmap").treemap({
      "nodeData": treedata,
      "dimensions": [$("#riskmap").width(), 600],
      "sizeOption": 0,
      "colorOption": 0,
      "labelsEnabled": true,
      "colorStops": [
        {"val":0, "color":"#eee"},
        {"val":1, "color":"#f00"},
      ]
    });
    $("#m1").click(function() {
      $("#riskmap").treemap("option", "sizeOption", 0);
      $("#riskmap").treemap("option", "colorOption", 0);
    });
    $("#m2").click(function() {
      $("#riskmap").treemap("option", "sizeOption", 1);
      $("#riskmap").treemap("option", "colorOption", 1);
    });
  });
</script>
{% endblock %}
{% block content %}
<div class="container">
  <h3>Service risk view</h3>
</div>
<div class="container" id="riskmap"></div>
<div class="container">
  <button id="m1" type="button" class="btn btn-default btn-xs">Risk / data classification</button>
  <button id="m2" type="button" class="btn btn-default btn-xs">Data classification / risk</button>
</div>
<div class="container">
  <table id="servtab" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
      <td>Service</td>
      <td>Data class</td>
      <td>Median risk</td>
      <td>Worst case</td>
      </tr>
    </thead>
    <tbody>
      {% for r in results.risks %}
      <tr>
      <td>{{ r.rra.name }}</td>
      <td><span name="rlabel">{{ r.rra.default_data_classification }}</span></td>
      <td><span name="rlabel">{{ r.risk.median_label }}</span></td>
      <td><span name="rlabel">{{ r.risk.worst_case_label }}</span></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
