{% extends 'base.html' %}
{% block scripts %}
{{ super() }}
<script>
  var compfails = [
  {% for h in results.hosts %}
  [
  {% for c in h.compliance.details %}
  {% if not c.status %}
  {{ c.checkref|tojson|safe }},
  {% endif %}
  {% endfor %}
  ],
  {% endfor %}
  ];

  $(document).ready(function() {
    $('#hosttab').DataTable();
    $('#hostdyntab').DataTable();
    var comptab = $('#hostcomptable').DataTable( {
      'createdRow': function (row, data, index) {
        compTableFormat(row);
    }});

    $('#hostcomptable tbody').on('click', 'td.details-control', function() {
      var tr = $(this).closest('tr');
      var row = comptab.row(tr);
      if (row.child.isShown()) {
        row.child.hide();
        tr.removeClass('shown');
      }
      else {
        row.child(comprowfmt(compfails[tr.data('rowid')])).show();
        tr.addClass('shown');
      }
    });
  });

  function comprowfmt(d) {
    var trt = '<tr><td class="suHeader">Failing checks</td></tr>';
    for (var i = 0; i < d.length; i++) {
      var ntr = '<tr><td>' + d[i] + '</td></tr>';
      trt += ntr;
    }
    return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px">' +
      trt +
      '</table>';
  }
</script>
{% endblock %}
{% block content %}
<div class="container">
  <h3>System group information</h3>
  <table id="sr" class="suTable" cellspacing="0" width="100%">
    <tr><td class="suHeader">System group</td>
      <td class="suTableCell">
        <table class="innerTable">
          <tr><td class="suHeader">Name</td><td>{{ results.name }}</td></tr>
          <tr><td class="suHeader">ID</td><td>{{ results.id }}</td></tr>
        </table>
      </td>
    </tr>
  </table>
</div>
<div class="container">
  <h3>Linked hosts</h3>
  <p>The following hosts are linked to this system group.</p>
  {% set hl = [] %}
  {% for r in results.hosts %}
  {% do hl.append(r.hostname) %}
  {% endfor %}
  <p><a href="{{ url_for('vulnlist', target=hl) }}">Show all</a>
  known vulnerabilities for these hosts.</p>
  <table id="hosttab" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
        <td>Hostname</td>
        <td>Last seen</td>
      </tr>
    </thead>
    <tbody>
  {% for r in results.hosts %}
  <tr>
    <td>{{ r.hostname }} [<a href="{{ url_for('vulnlist', target=r.hostname) }}">show_vulns</a>]</td>
    <td>{{ r.lastused }}</td>
  </tr>
  {% endfor %}
    </tbody>
  </table>
</div>
<div class="container">
  <h3>Linked websites</h3>
  <p>The following websites are linked to this system group.</p>
  <table class="suTable" cellspacing="0" width="100%">
    <tr><td class="suHeader">Hostname</td>
      <td class="suHeader">Last seen</td></tr>
    {% if results.websites|length > 0 %}
    {% for r in results.websites %}
    <tr>
      <td>{{ r.hostname }}</td>
      <td>{{ r.lastused }}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr><td>No websites linked</td><td>NA</td></tr>
    {% endif %}
  </table>
</div>
<div class="container">
  <h3>Compliance information</h3>
  <p>Latest compliance information for system group.</p>
  <table id="hostcomptable" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
        <td></td>
        <td>Hostname</td>
        <td>H/Pass</td>
        <td>H/Fail</td>
        <td>M/Pass</td>
        <td>M/Fail</td>
        <td>L/Pass</td>
        <td>L/Fail</td>
      </tr>
    </thead>
    <tbody>
      {% for h in results.hosts %}
      <tr data-rowid="{{ loop.index - 1 }}">
        <td class="details-control">+</td>
        <td>{{ h.hostname }}</td>
        <td><span class="comppassv">{{ h.compliance.highpass }}</span></td>
        <td><span class="compfailv">{{ h.compliance.highfail }}</span></td>
        <td><span class="comppassv">{{ h.compliance.mediumpass }}</span></td>
        <td><span class="compfailv">{{ h.compliance.mediumfail }}</span></td>
        <td><span class="comppassv">{{ h.compliance.lowpass }}</span></td>
        <td><span class="compfailv">{{ h.compliance.lowfail }}</span></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
